@import '../../../colorpalette';
@import '../../../breakpoints';

.list-item {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
  background-color: rgba($blue, 0.7);
  border-bottom: 0.4rem solid rgba($red, 0.6);
  flex-basis: calc(25% - 4rem);
}

.list-item__badges-section {
  display: flex;
  margin-top: auto;
  align-items: center;
}

.list-item__badges-title {
  font-size: 1.2rem;
  margin-right: 1.4rem;
}

.list-item__file-badges {
  display: flex;
  flex-wrap: wrap;
}

.list-item__file-badge {
  font-size: 1.2rem;
  font-weight: 300;
  margin-right: 0.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
  background-color: $liver;
}

.list-item__forks-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.list-item__forks {
  display: flex;
  margin-bottom: 2rem;
}

.list-item__fork {
  margin-right: 1rem;
  flex-basis: 6rem;
}

.list-item__fork-avatar {
  display: block;
  width: 100%;
  border: 0.2rem solid $red;
}

.list-item__fork-user {
  font-size: 1.2rem;
  padding: 0.5rem;
  color: $yellow;
  text-align: center;
  background-color: $red;
  word-break: break-word;
}

.list-item__file {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.list-item__file-link {
  display: block;
  padding: 0.7rem 1rem;
  text-decoration: none;
  color: $yellow;
  background-color: $black;

  &:hover {
    background-color: $red;
  }
}
